.ca-schedule {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  background: #f5f5f5;
  min-height: 250px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 250px;
}
.ca-schedule table {
  border-collapse: collapse;
}
.ca-schedule table tr td {
  padding: 3px;
  border-bottom: 1px solid #dddddd;
}
.ca-schedule table tr.not-sharp td {
  border-bottom: 1px dashed #dddddd;
}
.ca-schedule table tr:last-child td {
  border-bottom: 1px solid #dddddd;
}
.ca-schedule table .date-cell:last-child {
  border-right: 3px solid #84589B;
}
.ca-schedule table .time-cell {
  border-left: 1px solid #84589B;
}
.ca-schedule table .empty-cell {
  border-bottom: 1px solid transparent;
}
.ca-schedule table .info-cell-highlight td:first-child,
.ca-schedule table .date-row .info-cell-highlight {
  background: #9c75b1;
}
.ca-schedule .info-cell {
  background: #84589B;
  color: #FFF;
  text-align: center;
  border-right: 3px solid #dcdcdc;
}
.ca-schedule .schedule-cell {
  border-right: 3px solid #dddddd;
}
.ca-schedule .available.schedule-cell-hover {
  background: #dddddd;
  color: #FFF;
  cursor: pointer;
}
.ca-schedule .has-availability .available {
  background: #8bd19b;
}
.ca-schedule .has-availability .available.schedule-cell-hover {
  background: #b0dfba;
}
.ca-schedule .available.schedule-cell-selected {
  background: #c4c4c4;
}
.ca-schedule .has-availability .available.schedule-cell-selected {
  background: #66c37c;
}
