<div tabindex="-1" class="ca-console ng-cloak" ng-show="visible" ng-init="init()" ng-style="style">
    <div class="ca-console-header">
        
    </div>

    <div class="ca-console-body" auto-scroll="true">
        <ul>
            <li ng-class="classes[log.type]" 
                ng-repeat="log in logs"
                ng-bind-html="log.body|log">
            </li>
        </ul>
    </div>

    <div class="ca-console-command">
        <input ng-model="expression" ng-keydown="commandKeyDown($event)"></input>
    </div>

    <div class="ca-console-move" title="Move console"></div>
    <div class="ca-console-close" title="Close console" ng-click="console.hide()"></div>
    <div class="ca-console-resize" title="Resize console"></div>
</div>