<div class="ca-schedule" ng-init="init()">
    <table cellspacing="0" cellpading="0">
        <tr class="date-row">
            <td class="info-cell empty-cell"></td>
            <td class="info-cell date-cell" ng-repeat="day in days">{{day}}</td>
        </tr>
        <tr class="date-row">
            <td class="info-cell empty-cell"></td>
            <td class="info-cell date-cell" ng-repeat="date in dates">{{date|date}}</td>
        </tr>
        <tr ng-repeat="time in hours track by time.minutes" ng-class="{'not-sharp':!time.sharp}">
            <td class="info-cell time-cell">{{time.nice}}</td>
            <td schedule-slot="[date, time]" data-time="{{time}}" ng-repeat="date in dates" ng-click="clearSelection(); book( $event, date, time )" hover-class="schedule-cell-hover" class="schedule-cell" ng-mouseover="cellover($event)" ng-mouseout="cellout($event)" ng-mousedown="celldown($event)"></td>
        </tr>
    </table>
</div>
