<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <title>Ca.Console</title>
        <link rel="stylesheet" href="../ca-console.css">
        <script src="http://localhost:35729/livereload.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
        <script src="../ca-console.js"></script>
        <script src="main.js"></script>
    </head>
    <body ng-app="demo" ng-controller="DemoConsoleController" ng-init="init()">
        <div style="padding:10px;">
            <button ng-click="console.show()">console.show()</button>
            <button ng-click="console.hide()">console.hide()</button>
            <button ng-click="console.toggle()">console.toggle()</button>
            <button ng-click="cmd1()">Command: cmd1()</button>
            <button ng-click="console.log('Log message')">console.log('Log message')</button>
            <button ng-click="console.error('Error message')">console.error('Error message')</button>
            <button ng-click="console.info('Info message')">console.info('Info message')</button>
            <button ng-click="console.warn('Warn message')">console.warn('Warn message')</button>
            <button ng-click="console.debug('Debug message')">console.debug('Debug message')</button>
        </div>
        <div>

        </div>
        <div id="console-container">

        </div>
    </body>
</html>